<?xml version="1.0" encoding="utf-8"?>
<!--
    SPDX-FileCopyrightText: 2024 Andrew Gunnerson
    SPDX-License-Identifier: GPL-3.0-only
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Google only supports the charge limit feature on devices with Tensor SOCs. -->
    <uses-feature android:name="com.google.android.feature.PIXEL_2021_EXPERIENCE" android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!--suppress AndroidUnknownAttribute -->
    <application
        android:usesNonSdkApi="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:memtagMode="sync"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ChargeLimitTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_notifications"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
